.App {
    height: 100%;
}

.game-top {
    background-color: #f5ffaa;
    width: 100%;
    height: 70%;
    font-size: 0;
}

.show-root-bottom {
    background-color: white;
    width: 100%;
    height: 30%;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    position: absolute;
    z-index: 1;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-top: 8px; */
    /* overflow: scroll; */
}

.game-left {
    background-color: #f5ffaa;
    display: inline-block;
    width: 70%;
    height: 100%;
    font-size: 0;
}

.show-root-right {
    background-color: white;
    display: inline-block;
    position: absolute;
    width: 30%;
    height: 100%;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-top: 8px; */
    /* overflow: scroll; */
}

.show-content {
    background-color: white;
    width: calc(100% - 8px);
    padding-top: 8px;
    padding-left: 8px;
    height: calc(100% - 8px);
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    overflow: scroll;
}

/* .show::-webkit-scrollbar {
    width: 0 !important
} */

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
.show-content::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道
  内阴影+圆角*/
.show-content::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff;
}

/*定义滑块
  内阴影+圆角*/
.show-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #bbff88;
}

.item {
    /* border-radius: 10px; */
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
}

.selected {
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    border-color: #00d1ffee;
}

.spirit {
    position: absolute;
    background-color: red;
    /* height: 20px;
    width: 20px; */
    /* z-index: 9; */
}