.App {
    height: 100%;
}

.game-top {
    background-color: #f5ffaa;
    width: 100%;
    height: 50%;
    font-size: 0;
    overflow: scroll;
    position: relative;
    /* position: absolute; */
}

.show-root-bottom {
    background-color: white;
    width: 100%;
    height: 50%;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    position: absolute;
    z-index: 1;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-top: 8px; */
    /* overflow: scroll; */
}

.game-left {
    background-color: #f5ffaa;
    display: inline-block;
    width: 70%;
    height: 100%;
    font-size: 0;
    overflow: scroll;
    position: relative;
}

.show-root-right {
    background-color: white;
    display: inline-block;
    position: absolute;
    width: 30%;
    height: 100%;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-top: 8px; */
    /* overflow: scroll; */
}

.show-content {
    background-color: white;
    width: calc(100% - 8px);
    padding-top: 8px;
    padding-left: 8px;
    height: calc(100% - 8px);
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    overflow: scroll;
}

/* .show::-webkit-scrollbar {
    width: 0 !important
} */

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff;
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #48cc90;
}

.background {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url(../assets/background.jpg);
    /* background-position: center;
    background-size: cover; */
}